
.container{
    
    padding: 110px 110px 110px 280px ;
    display: flex;
    align-items: center;
}
#ft{
    width: 300px;
    margin-left: 60px;
}
.pj{
    display: flex;
    padding-right: 25%;
}
* {
    margin: 0;
    padding: 0;
}
header{
    color: white;
    background-color: rgb(75, 75, 75);
    padding: 15px;

}
#prjUm{
    width: 250px;
    padding-right: 15%;
    display: flex;
   
}

.tecnologias{
    padding: 3%;
    display: flex;
    background-color: rgb(75, 75, 75);
}
#prjDois{
    width: 250px;
}
#css{
    width: 105px;
}
#js{
    width: 150px;
}
#html{
    width: 150px;
}
.tec{
    margin: 5% 20%;
    color: white;
}
.projetos{
    padding: 5% 5%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
.sbr{
    background-color: rgb(75, 75, 75);
    color: white;
    text-align: center;
    padding-bottom:  20%;
}
#sobre{
    padding: 50px;
}

@media screen and ( max-width:1200px ) {
    .container{
        
        padding-left: 190px;
    }
    #prjUm{
        padding-right: 10px;
    }
    .pj{
        padding-left: 90px;
    }
}
@media screen and ( max-width:1115px ) {
    .container{
        
        padding-left: 80px;
        
    }
    #prjUm{
        padding-right: 10px;
    }
    .pj{
        padding-right: 70px;
    }
    .tec{
       margin-right: 20px;
    }

}
@media screen and ( max-width:999px ) {
    .container{
        padding-left: 70px;
       
    
    }
    #prjUm{
        padding-left: 20px;
    }
    .pj{
        padding: 80px;
       
    }
}
@media screen and ( max-width:990px ) {
    .container{
        padding-left: 60px;
    }
}   
@media screen and ( max-width:978px ) {
    .container{
        padding-left: 50px;
    }
}  
@media screen and ( max-width:969px ) {
    .container{
        padding-left: 40px;
    }
}  
@media screen and ( max-width:960px ) {
    .container{
        padding-left: 30px;
    }
}
@media screen and (max-width:948px) {
    .container{
        font-size: 12px;
    }
    #ft{
        width: 300px;

    }
    .tec{
        margin-left: 80px;
        
    }
    #prjUm{
        width: 230px;
    }
    #prjDois{
        width: 230px;
    }

}
@media screen and (max-width:840px) {
    .container{
        font-size: 11px;
    }
    #ft{
        margin-left: 150px;
        width: 180px;
    }
    #html{
        width: 100px;
    }
    #css{
        width: 80px;
    }
    #js{
        width: 120px;
    }
    #prjUm{
        width: 190px;
    }
    #prjDois{
        width: 190px;
    }
}
@media screen and (max-width:783px) {
    #ft{
        margin-left: 130px;
        width: 180px;
    }
}
@media screen and (max-width:763px) {
    #ft{
        margin-left: 110px;
        width: 180px;
    }
}@media screen and (max-width:743px) {
    #ft{
        margin-left: 100px;
        
    }
}
@media screen and (max-width:733px) {
    #ft{
        margin-left: 80px;
        
    }
}
@media screen and (max-width:752px) {
    .pj{
        padding-left: 20px ;
    }
}
@media screen and (max-width:686px) {
    .pj{
        font-size: 20px;
        padding-right: 20px ;
    }
    .tec{
        margin-left: 30px;
        font-size: 20px;
    }
}
@media screen and (max-width:600px) {
    .container{
        display: grid;
        
    }
    #bv{
        font-size: 30px;
        margin-left: 30px;
        
    }
    #ft{
        margin-top: 30px;
        width: 200px;
        margin-left: 130px;
    }
    .pj{
        padding-right: 2px;
    }

}
@media screen and (max-width:591px) {
    #bv{
        margin-left: 20px;
    }
}
@media screen and (max-width:581px) {
    #bv{
        margin-left: 10px;
    }
    #prjUm{
        width: 160px;
    }
    #prjDois{
        width: 160px;
    }
}
@media screen and (max-width:572px) {
    #bv{
        margin-left: 1px;
    }
    
}
@media screen and (max-width:568px) {
    #bv{
        font-size: 25px;
        padding-left: 50px;
    }
    
}
@media screen and (max-width:545px) {
    #bv{
        padding-left: 30px;
    }
    #ft{
        margin-left: 100px;
    }

}
@media screen and (max-width:525px){
    .tec{
        font-size: 19px;
    }
    #html{
        width: 90px;
    }
    #css{
        width: 65px;
    }
    #js{
        width: 95px;
    }
    #prjUm{
        width: 140px;
    }
    #prjDois{
        width: 140px;
    }
    .pj{
        font-size: 19px;
    }
}
@media screen and (max-width:525px){
    #bv{
        padding-left: 10px;
    }
    #ft{
        margin-left: 90px;
    }
}
@media screen and (max-width:505px){
    #bv{
        padding-left: 60px;
    }
}
@media screen and (max-width:471px){
    #bv{
        border-right: 50px;
    }
    .tecnologias{
        display: block;
        padding-left: 120px;
    }
    .projetos{
        padding-left: 120px;
        display: block;
    }
    .pj{
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .tec{
        margin-left: 10px;
    }
    #prjUm{
        padding-left: 0px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width:415px){
    #bv{
        padding-left: 50px;
    }
    #ft{
        width: 190px;
    }
}
@media screen and (max-width:400px){
    #bv{
        padding-left: 40px;  
    }
    
    #ft{
        margin-left: 80px;
    }
}
@media screen and (max-width:380px){
    #bv{
        padding-left: 60px;  
    }
    
    #ft{
        margin-left: 50px;
    }
    .tecnologias{
        padding-left: 90px;
    }
    .projetos{
        padding-left: 100px;
    }
}
@media screen and (max-width:350px){
    #bv{
        margin-left: 30px;
        padding-left: 6px; 
    }
    
    #ft{
        width: 170px;
        margin-left: 50px;
    }
    .tecnologias{
        padding-left: 70px;
    }
    .projetos{
        padding-left: 80px;
    }
}
@media screen and (max-width:300px){
    #bv{
        margin-left: 20px;
        padding-left: 6px; 
    }
    
    #ft{
        width: 160px;
        margin-left: 20px;
    }
    .tecnologias{
        padding-left: 40px;
    }
    .projetos{
        padding-left: 60px;
    }
}
@media screen and (max-width:240px){
    #bv{
        margin-left: 0px;
        padding-left: 6px; 
    }
    
    #ft{
        width: 150px;
        margin-left: 10px;
    }
    .tecnologias{
        padding-left: 20px;
    }
    .projetos{
        padding-left: 40px;
    }
}
@media screen and (max-width:230px){
    #bv{
        margin-left: 0px;
        padding-left: 4px; 
    }
    
    #ft{
        width: 140px;
        margin-left: 10px;
    }
    .tecnologias{
        padding-left: 20px;
    }
    .projetos{
        padding-left: 30px;
    }
}
@media screen and (max-width:200px){
    #bv{
        margin-left: 0px;
        padding-left: 0px; 
    }
    
    #ft{
        width: 130px;
        margin-left: 0px;
    }
    .tecnologias{
        padding-left: 10px;
    }
    .tec{
        font-size: 15px;
    }
    #html{
        width: 80px;
    }
    #css{
        width: 57px;

    }
    #js{
        width: 80px;
    }
    .pj{
        font-size: 18px;
        padding-left: 0px;
    }
    .projetos{
        padding-left: 30px;
    }
    #prjUm{
        width: 100px;
    }
    #prjDois{
        width: 100px;
    }
}
@media screen and (max-width:186px){
    #bv{
        margin-left: 0px;
        padding-left: 0px; 
    }
    
    #ft{
        width: 110px;
        margin-left: 2px;
    }
    .tecnologias{
        padding-left: 20px;
    }
    #html{
        width: 70px;
        padding-left: 20px;
    }
    #css{
        width: 53px;
        padding-left: 27px;
    }
    #js{
        width: 78px;
        padding-left: 16px;
    }
    .tec{
        margin-left: 3px;
    }
    
}
@media screen and (max-width:165px){
    #bv{
        margin-left: 0px;
        padding-left: 0px; 
       
    }
    .container{
        padding-left: 10px;
    }
    
    #ft{
        width: 106px;
        margin-left: 0px;
        
    }
    .tecnologias{
        padding-left: 10px;
    }
    #html{
        width: 70px;
        padding-left: 20px;
    }
    #css{
        width: 53px;
        padding-left: 27px;
    }
    #js{
        width: 78px;
        padding-left: 15px;
    }
    .projetos{
        padding-left: 10px;
    }
    
}